<div class="jumbotron">
    <h1 class="display-2 text-center">
        Reactive Forms
    </h1>
</div>
<div class="container d-flex align-items-center flex-column justify-content-center h-100">

    <form [formGroup]="regUserForm" (ngSubmit)="UserRegistration(regUserForm)">
        <div>
            {{validationMessage}}
        </div>
        <div class="form-row">
            <div class="col">
              <label class="col mt-3" for="firstname">First Name</label>
            </div>
            <div class="col">
                 <input type="text" formControlName="firstName" id="firstname" class="form-control mt-3" 
                 > 
            </div>
        </div>

        <div class="form-row">
            <div class="col">
              <label class="col mt-3" for="lastname">Last Name</label>
            </div>
            <div class="col">
                 <input type="text" formControlName="lastName"
                 id = "lastName" class="form-control mt-3" 
                 > 
            </div>
        </div>

        <div class="form-row">
            <div class="col">
              <label class="col mt-3" for="email">Email</label>
            </div>
            <div class="col">
                <input type="email" formControlName="emailId"
                id = "email" class="form-control mt-3" 
                > 
           </div>
        </div>

        <div class="form-row">

            <div class="col mt-4">

                <button class="btn btn-dark btn-outline btn-sm btn-block" type="submit" [disabled]="!regUserForm.valid"> Register </button>

                <button class="btn btn-dark btn-outline btn-sm btn-block" type="reset"> Reset </button>

            </div>
        </div>

    </form>
</div>