<!--
<h1>Welcome to Angular</h1>
<h1>{{title}}</h1>
<app-user></app-user>

<app-datatypes></app-datatypes>

<app-directives></app-directives>
<app-user></app-user>
<app-users></app-users>
<app-ngswitchdemo></app-ngswitchdemo>
<app-databindingdemo></app-databindingdemo>

<app-ngstyledemo></app-ngstyledemo>

<app-ngclassdemo></app-ngclassdemo>
<app-productmaster> </app-productmaster>
<app-todos></app-todos>
<app-template-form></app-template-form>
<app-reactive-form></app-reactive-form>


-->

<app-parenttwo></app-parenttwo>

<router-outlet></router-outlet>